.form{
    display: flex;
    position: relative;
    justify-content: center;
    margin: auto;
    padding: auto;
}

.card{
    display: flex;
    justify-content: space-around;
    align-self: center;
    width: 110px;
    box-shadow: 1px 1px 1px 1px #e7e7e7;
}

.card:hover{
    box-shadow: 0.2px 0.2px 0.2px 0.2px #e7e7e7;
}

.card h1{
    font-size: 30px;
    font-weight: bold;
}


.text p{
    font-size: 12px;
    color: #999999;
}

.card-input{
    font-size: 16px;
    font-weight: 200;
    padding: 5px;
}

.card-input input{
    width: 190px;
    border-radius: 9px;
    border: 0;
    box-shadow: 0.5px 0.5px 0.5px 0.5px #c5c9c9;
    margin: 3px;
}


.card button{
    border: 0;
    border-radius: 12px;
    width: 150px;
    box-shadow: 1px 1px 1px 1px #e7e7e7;
    background-color: #FEBD69;  
    transition: 0.1s;
}


.card button:hover{
    box-shadow: 0.5px 0.5px 0.5px 0.5px #e7e7e7;
}

.icon-prev{
    display: flex;
    align-self:  flex-start;
    padding: 10px;
    margin: 10px;
    width: auto;
    height: auto;
}
