.container{
    justify-content: center;
    align-items: flex-start;
}


.container h1{
    text-align: center;
    padding: 1px;
    margin: 10px;
}


.card{
    justify-content: flex-start;
    background-color:#f8fbfe;
}


.card p{
    color:#333333;
    font-size: 13px;
}
    
.card-input{
    display: flexbox;
    padding: 10px;
    margin: 1px;
    
}

.card-input label{
    justify-self: start;
    align-self: flex-start;
}

.card-input input{
    display: flex;
    border: 1px solid #f3f3f3;
    border-radius: 1px;
    width: 160px;
    transition: 0.2s;
}

.card-input input:active{
    border: 1px solid #333333;
}
