
.container{
    display:flex;
    width: 100%;
    position: relative;
}


.nav{
    display: flex;
    width: 100%;
    background-color: #232f3e;
    box-shadow: 6px 6px 6px #A8A8B3;
}

.list{
    display: flex;
    float: right;
    list-style: none;
    margin: 0.2em;
    text-align: center;
    padding: 1em;
    text-decoration: none;
}
.dropdown-menu a{
    text-decoration: none;
    color: #000;
}


.icon {
    display: flex;
    justify-content: flex-start;
    box-sizing: border-box;
    font-size: 45px;
    font-weight: lighter;
    width: 50px;
    height: 50px;
    color: #ffffff;
    margin: 3px 23px;
}

.search{
    justify-content: center;
    text-align: start;
    border: none;
    border-radius: 10px;
    margin: 1em;
    height: 33px;
    padding: 10px 120px 10px 6px;
}

.icon-button{
    background-color: #232f3e;
    border-color: #232f3e;
    padding: .43em
}

.icon-button:hover{
    border-color: #ffffff;
}


.item {
    text-decoration: none;
    
}

.item a{
    text-align: center;
    text-decoration: none;
    color: #ffffff;
    padding: 2.2em;
}

.cart{
    display: flex;
    justify-content: flex-end;
    position: relative;
    font-size: 40px;
    color:#ffffff;
    font-weight: lighter;
    margin: 1px 25px;
    transition: 0.3s;
}

.button-cart{
    border-color:  #232f3e;
}


.button-cart:hover{
    border: 0.5px solid #f8fbfe;
}


#button{
    background-color: #232f3e;
    color: #ffffff;
    border-color: #232f3e;
    margin: 0.1em;    
    font-size: 16px;
}

#button:hover{
    border-color: #ffffff;
}

#itens{
    background-color: #f8fbfe;
    color: #ffffff;

}




