.container{
    display: flex;
    position: relative;
}

.list-group{
    display: flex;
    width: 55%;
    margin: 50px 0px 0px 0px;
    box-shadow: 0.5px 0.5px 0.5px#d5d9d9;
}

.list-group-item{
    display: flex;
    padding: 10px;
    justify-content:space-between;
    border: 1px solid #d5d9d9;
}

.list-group-item h1{
    font-size: 15px;
    font-weight: bold;
    color:#0f1111;
    margin-bottom: 10px;
}

.list-group-item p{
    position: fixed;
    align-self: flex-start;
    font-size: 13px;
    margin: 30px 0 0 20px;
    color:#333333;
}

.button-logout{
    display: inline;
    position: relative;
    background-color: #ffffff;
    border: none;
    border-radius: 10px;
    box-shadow: 1.5px 1.5px 1.5px 1.5px #f3f3f3;
    width: 115px;
    margin: 10px;
}


.button-edit{
    align-self: center;
    background-color: #ffffff;
    border: none;
    border-radius: 10px;
    box-shadow: 1.5px 1.5px 1.5px 1.5px #f3f3f3;
    width: 120px;
    margin: 5px;
    color: #0f1111;
    text-decoration: none;
    text-align: center;
}

.button-edit:hover{
    background-color: #f3f3f3;
    box-shadow: 1px 1px 1px 1px #f3f3f3;
}


