.container{
    display: inline-table;
    flex-direction: row;
    position: relative;
}

.section{
    display: flex;
    position: relative;
    justify-self: center;
    margin: 10px 0px;
}

h2{
    padding: 1px;
    margin: 20px 0px 0px;
    font-size: 35px;
    font-weight: 800;
}
