.container{
    display: inline-table;
    flex-direction: row;
    position: fixed;
}

.section{
    display: flex;
    position: relative;
    justify-content: space-evenly;
    margin-top: 10px;
}

