
.login{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    position: relative;
}

.card{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    width: 365px;
    margin: 50px 2px;
    padding: 19px;
    border: 1px solid #e7e7e7;
    text-align: center;
}

.card h1{
    font-size: 30px;
    padding: 1px;
    color: #0f1111;
}

.card p{
    font-size: 13px;
    margin: 1px;
    padding: 1px;
    align-items: center;
    color:#111111;
}

.card-text{
    border-radius: 5px;
    padding: 5px;
    font-size: 15px;
    margin: 13px 1px 0px;
    width: 300px;
    height: 28px;
    box-shadow: 1px 1px 1px 1px #c5c9c9;
}

::placeholder{
    color: #000000;
}

.button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    padding: 0.5em;
    margin: 7px 27px 7px;
    border: none;
    border-radius: 20px;
    background-color: #FEBD69;
    color: #ffffff;
    box-shadow: 5px 5px 5px #c5c9c9;
    transition: 0.3s;
}

.button:hover{
    background-color: #FEBD69;
    color: #ffffff;
    box-shadow: 1px 1px 1px #c5c9c9;
}


.new-account{
    display: flex;
    justify-content: center;
    flex-direction: row;
    position: relative;
    margin: 35px 0px;
    width: 100%;
    
}


.new-account a{
    text-decoration: none;
    background-color: #FEBD69;
    color: #ffffff;
    padding: 9px;
    box-shadow: 2px 2px 2px 2px #c5c9c9;
    border-radius: 7px;
    transition: 0.2s;
    text-align: center;
    width: 420px;
}


.new-account a:hover{
    background-color: #FEBD69;
    box-shadow: 1px 1px 1px 1px #c5c9c9;
}
.error{
    display: flex;
    background-color:#FF9494;
    border: 0;
    border-radius: 10px;
    width: 180px;
    text-align: center;
    padding: auto;
    margin: auto;
}


.error p{
    color: #000000;
    font-size: 12px;
    font-weight: 700;
}


.ok{
    background-color: #e7e7e7;
    color: #ffffff;
    
}
